@import '../../App.variables.scss';

.not-found {
  padding: 160px 0;

  .center-cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 28px;

    .not-found__img {
      height: 354px;
      width: 700px;
    }

    .not-found__descr {
      max-width: 391px;
      text-align: center;

      .not-found__title {
        margin-bottom: 20px;
        font-size: $title2;
        font-weight: 700;
        line-height: $title2-lh;
        color: $sec-black;
      }

      .not-found__descr {
        margin-bottom: 20px;
        line-height: $text-lh-160per;
        color: $sec-grey;
      }

      .not-found__link {
        font-size: $subtitle3;
        line-height: $text2-lh-160per;
        color: $main-color;
        border-bottom: 2px solid $main-color;
      }
    }
  }
}
