$max-width: 1170px;

/* fonts size and line-height */
$title1: 48px;
$title1-lh: 58px;

$title2: 36px;
$title2-lh: 44px;

$title4: 20px;
$title4-lh: 24px;

$subtitle3: 18px;
$subtitle3-lh: 22px;

$subtitle4: 16px;
$subtitle4-lh: 20px;

$text: 16px;
$text-lh: 19px;
$text-lh-160per: 26px;

$text2: 14px;
$text2-lh: 17px;
$text2-lh-160per: 22px;

/* colors */
// main
$main-color: #13a3b9;
$add-color: #b3f5ff;
$success: #22b07d;
$error: #f44336;

// secondary
$sec-black: #272a33;
$sec-grey: #6e7686;
$sec-light-grey: #a7b4cc;

// additional
$add-text1: #676a71;
$add-text2: #a8aaae;
$pholder-text: #d4d7db;
$input-field: #f6f6f9;
$lines-color: #ededf4;
$fields-color: #fcfcfc;
$overlay: rgba(#272a33, 0.2);
