$sm-font: 14px;
$sm-l-height: 17px;
$footer-l-height: 22px;

$text-font: 16px;
$l-height: 19px;

$pholder-font: 16px;
$pholder-l-height: 20px;

$title-font: 48px;
$title-l-height: 58px;

$subtitle-font: 20px;
$subtitle-l-height: 24px;

$main-color: #13A3B9;
$main-text: #272A33;
$nav-text: #6E7686;
$add-text: #676A71;
$add-grey-text: #A8AAAE;
$add-light-text: #A7B4CC;
$pholder-text: #D4D7DB;

$max-width: 1170px;
