$sm-font: 14px;
$sm-l-height: 17px;
$footer-l-height: 22px;

$text-font: 16px;
$text2-font: 18px;
$l-height: 19px;
$not-found-l-height: 26px;

$pholder-font: 16px;
$pholder-l-height: 20px;

$title-font: 48px;
$title-l-height: 58px;

$title2-font: 36px;
$title2-l-height: 44px;

$subtitle-font: 20px;
$subtitle-l-height: 24px;

$main-color: #13a3b9;
$main-text: #272a33;
$nav-text: #6e7686;
$add-text: #676a71;
$add-grey-text: #a8aaae;
$add-light-text: #a7b4cc;
$pholder-text: #d4d7db;

$max-width: 1170px;
